<template>
<style>
   .containerPallet{
   position: absolute;
   top:0px;
   height: 50px;
   width:1140px;
   }
</style>
<div class="containerPallet">
   <form class="form-inline">
      <div class="form-group">
         <label for="inputPassword6">Columns :</label>
         <select class="form-control">
            <option value="">Choose Column </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="12">12</option>
         </select>
      </div>
   </form>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</template>

<script>
(function(window, document, undefined) {

    var thatDoc = document;

    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var template = thisDoc.querySelector('template').content;
    // Shim Shadow DOM styles if needed
    /*
    if (window.ShadowDOMPolyfill) {
        WebComponents.ShadowCSS.shimStyling(template, 'vimeo');
    }
    */
    class ColPallet extends HTMLElement {
        constructor() {

            super();
        }

        connectedCallback() {
            try {
                var shadowRoot = this.attachShadow({
                    mode: 'open'
                });
                // Adds a template clone into shadow root.
                var clone = thatDoc.importNode(template, true);
                shadowRoot.appendChild(clone);

                var selectBox = shadowRoot.querySelector('select');
                selectBox.addEventListener('change', this.setAllColWidth);
            } catch (err) {
                console.log("Error on component/app-colpallet/connectedCallback" + err)
            }



        }

        setAllColWidth(event) {
            try {
                let colClass;

                switch (event.currentTarget.value) {

                    case "1":
                        colClass = "col-" + store.device + "-12";
                        break;

                    case "2":
                        colClass = "col-" + store.device + "-6";
                        break;

                    case "3":
                        colClass = "col-" + store.device + "-4";
                        break;

                    case "4":
                        colClass = "col-" + store.device + "-3";
                        break;

                    case "6":
                        colClass = "col-" + store.device + "-2";
                        break;

                    case "12":
                        colClass = "col-" + store.device + "-1";
                        break;

                }

                let myAllCols = document.querySelectorAll('.bootCol');

                myAllCols.forEach(function(item) {
                    let searchStr = "col-" + window.store.device;
                    let patt = new RegExp(searchStr, "g");
                    if (patt.test(item.className)) {
                        let indexOfColClass = item.className.indexOf(searchStr);
                        // Try to find out col-sm-8 on className
                        let oldColClass = item.className.slice(indexOfColClass, parseInt(indexOfColClass + 8));
                        // Replace with new class name
                        item.className = item.className.replace(oldColClass, colClass);

                    } else {
                        item.classList.add(colClass);
                    }

                })

            } catch (err) {
                console.log("Error on component/app-colpallet/setAllColWidth" + err)
            }

        }




    }
    window.customElements.define('app-colpallet', ColPallet);
})(window, document);
</script>