<template>
<style>
   .toolBox{
       position: fixed;
       top:112px;
       right:20px;
       z-index:9;
       width:100px;
       border:solid 1px #ccc;
       background:#fff;
       border-radius: 3px;
       box-shadow: 2px 2px 3px #ccc;
   }
   .toolBox h4{font-size:14px; padding:5px; border-bottom:solid 1px #ccc;}
   .toolBox ul {
        list-style:none;
        margin:0px;
        padding:0px;
        display: flex;
        flex-wrap: wrap;
       
   }
   .toolBox ul li{
        margin:0px;
        padding:0px;
        width:30px;
        height:30px;
        text-align:center;
   }
</style>
<div class="toolBox">
    <h4>Tools</h4>
    <ul>
          <li><a href="#" class="alertBtn"  draggable="true" data-app="app-alert"><img  src="js/img/warning.svg" width="16" height="16" /></a></li>
          <li><a href="#" class="breadcrumbBtn" data-app="app-breadcrumb" alt="breadcrumb" title="breadcrumb"><img   src="js/img/breadcrumb.png" width="16" height="16" /></a></li>
          <li><a href="#" class="buttonBtn"  draggable="true" data-app="app-alert" alt="Button" title="Button"><img  src="js/img/button.png" width="16"  /></a></li>
          <li><a href="#" class="cardBtn" data-app="app-card" alt="Card" title="Card"><img   src="js/img/card.svg" width="16"  /></a></li>

<li><a href="#" class="carouselBtn"  draggable="true" data-app="app-carousel"><img  src="js/img/carousel.png" width="16"  /></a></li>
          <li><a href="#" class="collapseBtn" data-app="app-collapse"><img   src="js/img/collapse.png" width="16" height="16" /></a></li>
          <li><a href="#" class="dropdownBtn" data-app="app-dropdown"><img   src="js/img/dropdown.png" width="20" height="16" /></a></li>
           <li><a href="#" class="dropdownBtn" data-app="app-form"><img   src="js/img/form.png" width="20" /></a></li>

          


    </ul>
   
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</template>

<script>
(function(window, document, undefined) {

    var thatDoc = document;

    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var template = thisDoc.querySelector('template').content;
    // Shim Shadow DOM styles if needed
    /*
    if (window.ShadowDOMPolyfill) {
        WebComponents.ShadowCSS.shimStyling(template, 'vimeo');
    }
    */
    class ToolBox extends HTMLElement {
        constructor() {

            super();
        }

        connectedCallback() {
            try {
                var shadowRoot = this.attachShadow({
                    mode: 'open'
                });
                // Adds a template clone into shadow root.
                var clone = thatDoc.importNode(template, true);
                shadowRoot.appendChild(clone);

                let alertEle = shadowRoot.querySelector('.alertBtn');
                alertEle.addEventListener("dragstart",this.drag);
                alertEle.addEventListener("dragend",this.dragExit);

                let breadcrumbEle = shadowRoot.querySelector('.breadcrumbBtn');
                breadcrumbEle.addEventListener("dragstart",this.drag);
                breadcrumbEle.addEventListener("dragend",this.dragExit);


              
            } catch (err) {
                console.log("Error on component/app-colpallet/connectedCallback" + err)
            }



        }


        drag(ev) {
          ev.dataTransfer.setData("component",ev.currentTarget.dataset.app);     
         
        }
        dragExit(ev){
            console.log("Drag Exit");
            let allContainer = thatDoc.querySelectorAll('.container');

        }
    



    }
    window.customElements.define('app-toolbox', ToolBox);
})(window, document);
</script>