<template>
<style>
   .config{
    position:absolute;
    top:10px;
    right:15px;
    cursor:pointer;
    z-index:9;
   }
   .pallet {
    padding:5px;
    font-size:11px;
    position:absolute;
    top:10px;
    right:-145px;
    z-index:10;
    width:150px;
    border:solid 1px #cccccc;
    text-align:left;
    background:#cccccc;
    display:none;
   }
   ul.segment{
        margin:0px;
        padding:3px 5px;
   }
</style>
<div class="alert" role="alert" >
  <span class="txt" contenteditable="true">This is a primary alert—check it out!</span>
  <a href="#" class="config"><img src="js/img/system.svg" width="16" height="16" /></a>
  <div class="pallet">
    <a href="#" class="cancel"><img src="js/img/cancel.svg" width="10" height="10" /></a>
    <ul class="segment">
        <li>
    <select class="selectColor">
        <option>Choose Color</option>
        <option value="primary">Primary</option>
        <option value="secondary">Secondary</option>
        <option value="danger">Danger</option>
        <option value="info">Info</option>
        <option value="warning">Warning</option>
         <option value="light">Light</option>
         <option value="dark">Dark</option>
    </select>
    </li>
    <li>
        <a href="#" class="removeComponent">Remove Component</a>
    </li>
    </ul>
  </div>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</template>

<script>
(function(window, document, undefined) {

    var thatDoc = document;

    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

    var template = thisDoc.querySelector('template').content;
    var shadowRoot;

    // Shim Shadow DOM styles if needed
    /*
    if (window.ShadowDOMPolyfill) {
        WebComponents.ShadowCSS.shimStyling(template, 'vimeo');
    }
    */
    class Alert extends HTMLElement {
        constructor() {

            super();
        }
        
        connectedCallback() {
            try {
                shadowRoot = this.attachShadow({
                    mode: 'open'
                });
                // Adds a template clone into shadow root.
                var clone = thatDoc.importNode(template, true);
                shadowRoot.appendChild(clone);

                var configBtn = shadowRoot.querySelector(".config");
                configBtn.addEventListener("click",this.openPallet);

                var selectColor = shadowRoot.querySelector(".selectColor");
                selectColor.addEventListener("click",this.changeColor);

                var alert =shadowRoot.querySelector('.alert .txt');
                alert.addEventListener('input',this.changeText);
                
                var cancel = shadowRoot.querySelector('.cancel');
                cancel.addEventListener('click',this.hidePallet);

                var removeComponent = shadowRoot.querySelector('.removeComponent');
                removeComponent.addEventListener('click',this.removeComponentEvent);
               
               // Setting 
               this.setColor();
               this.setText();
               
            } catch (err) {
                console.log("Error on component/app-colpallet/connectedCallback" + err)
            }



        }
        removeComponentEvent(){
             var event = new CustomEvent("remove", {
                bubbles: true,
                cancelable: false,
                composed: true,
                detail: {
                    action:"remove"
                }
            });
            this.dispatchEvent(event);
        }
        changeText(e){
            var event = new CustomEvent("changeText", {
                bubbles: true,
                cancelable: false,
                composed: true,
                detail: {
                    action:"changeText",
                    value: e.currentTarget.value
                }
            });
            this.dispatchEvent(event);
        }
        setColor(){
           
            let alert =shadowRoot.querySelector('.alert');
            if(this.getAttribute("color")!=null){
                alert.classList.add('alert-'+this.getAttribute("color"));
               }else{
                
                alert.classList.add('alert-primary');
               }
               
        }

        setText(){
            let alert =shadowRoot.querySelector('.alert .txt');
            console.log(alert.textContent);
            if(this.getAttribute("txt")!=null){
                alert.textContent=this.getAttribute("txt");
               }
        }

        openPallet(e){
            
            var pallet = e.currentTarget.parentElement.querySelector('.pallet');
                pallet.style.display="block";
        }
        hidePallet(e){
            var pallet = e.currentTarget.parentElement;
                pallet.style.display="none";
        }
        changeColor(e){
            var alertBox = e.currentTarget.parentElement.parentElement.parentElement.parentElement;
            var alertClass = alertBox.className;
            alertBox.className = alertBox.className.replace(alertBox.className,"alert alert-"+e.currentTarget.value);

             var event = new CustomEvent("changeColor", {
                    bubbles: true,
                    cancelable: false,
                    composed: true,
                    detail: {
                        action:"changeColor",
                        value: e.currentTarget.value
                    }
                });
                this.dispatchEvent(event);

        }

        




    }
    window.customElements.define('app-alert', Alert);
})(window, document);
</script>